<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form action="/students/new" method="post">
    <div class="form-group">
        <label>姓名</label>
        <input type="text" class="form-control" name="name" placeholder="请输入姓名">
    </div>
    <div class="form-group">
        <label>性别</label>
        <div>
            <label>
                <input type="radio" name="gender" value="0">男</label>
            <label>
                <input type="radio" name="gender" value="1">女</label>
        </div>
    </div>
    <div class="form-group">
        <label>年龄</label>
        <input type="number" name="age" class="form-control">
    </div>
    <div class="form-group">
        <label>爱好</label>
        <input type="text" name="hobbies" class="form-control">
    </div>
    <button type="submit" class="btn btn-default">添加</button>
</form>

</body>
</html>